.main2{
    width: 100%;
    margin: auto;
    border: 2px solid transparent;      
    background-color:rgb(234, 195, 185) ;
}
.main2 h2{
    border:0px solid  transparent; 
    border-top:10px solid  rgb(234, 195, 185); 
    width: auto;
    text-align: center;
    padding: 1rem;
    color: brown;
font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    
}
.button-wrapper-2{
   
    width: 25%;
    margin: 2%  auto 0;

    padding: 0.5rem;
    padding-right: 0rem;
    padding-left: 0.9rem;
}
.main2 button{
    margin: 1rem 1.5rem;
    width:35%;
    color: rgb(168, 36, 36);
    background-color:rgb(236, 200, 190)  ;
    padding: 2rem;
   
}

.img-wrapper{
    
    width: 25%;
    margin: 1% auto;
    
    border-radius: 2%;

}
.img-contain{
    padding:2rem 0;
   width: 100%;
    
    background-color:rgb(234, 195, 185);
animation:imgcontainer 6s linear infinite;
border-image: linear-gradient(90deg, white red); 
border-image-slice: 1;
border-image-width: 0.2rem;
      
}

@keyframes imgcontainer {
    0% {
        border-image-source: linear-gradient(90deg,white, red); 
      }
      25% {
        border-image-source: linear-gradient(180deg,white,red);
      }
      50% {
        border-image-source: linear-gradient(270deg,white,red); 
      }
      75% {
        border-image-source: linear-gradient(0deg, white, red); 
      }
      100% {
        border-image-source: linear-gradient(90deg, white, red); 
      }
  }
.main2-subcontent-2{
    display: flex;
    text-align: center;
    align-items: center;
}
.main2-l-img{
    width: 50%;
    animation: slidebottom 1s ;
  
}
.main2-l-img img{
    width: 70%;
    border-radius: 50%;
   
}
.main2-r-img{
    width: 50%;
    animation: slidebottom 1s ;
    
}
.main2-r-img img{
    width: 70%;
    border-radius: 50%;
    
}
@keyframes slidebottom {
    from {
      margin-bottom: -100%;
     
    }
  
    to {
  margin-top:0%; 

}
}
.row{
width: auto;
margin: auto;
flex-wrap: nowrap;

}
.Newarrival{
animation: newarrival 4s linear infinite;
border-image: linear-gradient(90deg, white, red); 
border-image-slice: 1;
border-image-width: 0.2rem;

}

@keyframes newarrival {
    0% {
        border-image-source: linear-gradient(270deg,white, red); 
      }
      25% {
        border-image-source: linear-gradient(0deg,white, red);
      }
      50% {
        border-image-source: linear-gradient(90deg, white, red); 
      }
      75% {
        border-image-source: linear-gradient(180deg,white, red); 
      }
      100% {
        border-image-source: linear-gradient(270deg, white, red); 
      }
  }
  .Bestselling{
    border-image: linear-gradient(90deg, white, red); 
    border-image-slice: 1;
    animation: bestselling 4s linear infinite;
    border-image-width: 0.2rem;
    
  }
  
  @keyframes bestselling {
    0% {
        border-image-source: linear-gradient(90deg,white, red); 
      }
      25% {
        border-image-source: linear-gradient(180deg,white , red);
      }
      50% {
        border-image-source: linear-gradient(270deg, white, red); 
      }
      75% {
        border-image-source: linear-gradient(0deg, white, red); 
      }
      100% {
        border-image-source: linear-gradient(90deg, white, red); 
      }
  }
@media (max-width:480px){

    .main2 button{
     
      
      font-size:0.5em;
        width: auto;
      margin: 0.5rem;
        padding: 1rem;
        
        color: rgb(162, 56, 56);
        background-color:rgb(234, 195, 185)  ;
    
     
     
    
    }
  
   
    .img-contain{
  
  
       
        width: 90%;
        margin: 1rem ;
      
          
    }
    .row{
        width:auto;
        flex-wrap: nowrap;
     
        
    }
    .img-wrapper{
        width: auto;
        margin:auto;
        background-color:rgb(234, 195, 185)  ;
       
    
    }
   .content-2{
    
   margin: auto;
   }
   .main2-l-img{
    display: none;
   }
   .main2-r-img{
    display: none;
   }
}
 
    


