.main2{
    width: 100%;
    margin: auto;
    padding-top: 2rem;
    border: 2px solid transparent;      
    background-color: rgba(17, 74, 80, 0.821);
}
.main2 h2{
    border:0px solid  transparent; 
    border-top:10px solid  rgba(17, 74, 80, 0.821); 
    width: auto;
    text-align: center;
    padding: 1rem;
    color: brown;
font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    
}
.button-wrapper-2{
   
    width: 25%;
    margin: 2%  auto 0;

   
}
.main2 button{
    margin: 3rem 1.5rem;
    width:35%;
    color: rgb(251, 249, 249);
    background-color:rgba(17, 74, 80, 0.821);
    padding: 1rem;
    border:2px solid transparent;
    font-size:small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8%;
   
}
.main2 button:hover{

  background-color: rgb(251, 249, 249);
  color:rgba(17, 74, 80, 0.821)  ;
 
 
}
.img-wrapper{
    
    width: 25%;
    margin: 1% auto;
    margin-bottom: 2%;
    border-radius: 2%;

}
.img-contain{
    padding:2rem 0;
   width: 100%;
    
 background-color: rgba(17, 74, 80, 0.821);

      
}


.main2-subcontent-2{
    display: flex;
    text-align: center;
    align-items: center;
}
.main2-l-img{
    width: 50%;
    margin-bottom: 2%;
    animation: slidebottom 1s ;
  
}
.main2-l-img img{
    width: 50%;
    border-radius: 50%;
   
}
.main2-r-img{
  margin-bottom: 2%;
    width: 50%;
    animation: slidebottom 1s ;
    
}
.main2-r-img img{
    width: 50%;
    border-radius: 50%;
    
}
@keyframes slidebottom {
    from {
      margin-bottom: -100%;
     
    }
  
    to {
  margin-top:0%; 

}
}
.row{
width: auto;
margin: auto;
flex-wrap: nowrap;

}


  
@media (max-width:480px){
   .main2{
    margin-top: 0%;
    border: none;
    padding-top: 1rem;
   }
    .main2 button{
     
      
      font-size:0.5em;
        width: auto;
      margin: 1rem 0.5rem;
        padding: 1rem;
        
        color: rgb(250, 248, 248);
        background-color:rgba(17, 74, 80, 0.821);
    
     
     
    
    }
  
   
    .img-contain{
  
  
       
        width: 50%;
        padding: 5%;
        margin: auto ;
      
          
    }
    .row{
        width:auto;
        flex-wrap: nowrap;
     
        
    }
    .img-wrapper{
        width:100%;
       
        margin:auto;
        margin-bottom: 5%;
       
       
    
    }
   .content-2{
    
   margin: auto;
   }
   .main2-l-img{
    display: none;
   }
   .main2-r-img{
    display: none;
   }
}
 
    


